<nav class="navbar p-4 bg-body-tertiary shadow-regular shadow-top" style="background-color: rgb(240,240,240); ">
<div class="foot container-fluid " style="
  display: flex; 
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family:Roboto;
  font-size:20px;
 
  ">
    <a class="nav-item text-decoration-none" style="color:rgb(100,100,100);" href="#">Email</a>  
    <a class="nav-item text-decoration-none"
      style="color:rgb(100,100,100);" href="#">+123 456 7890</a>
    <a class="nav-item text-decoration-none"
      style="color:rgb(100,100,100);" href="#">jobPortalPage</a>
    <a class="nav-item text-decoration-none" style="color:rgb(100,100,100);" href="#">Github/jobPortal.com</a>
  </div>
</nav>